* {
  background: black;
}

#stacker {
  margin: 0;
  padding: 0;
  position: relative;
}

.topbar {
  position: absolute;
  background: red;
}

.banner {
  position: absolute;
  background: green;
}

.header {
  position: absolute;
  background: blue;
}
