* {
  background: #414349;
}

::-webkit-scrollbar {
  width: 5px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: #101114;
  height: 5%;
  width: 100%;
  border-bottom: 1px solid #ebca47;
}

.banner {
  left: 0;
  width: 100vw;
  height: 100vh;
  background: red;
}

#title {
  font-family: 'Sarina', cursive;
  font-size: 35vw;
  align:center;
  color: black;
}
